/* body {
    background-image: url('/images/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
} */

body, h1, h2, h3, p {
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 75%;
}

hr {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.more-curve {
    border-radius: 1rem;
}

.blur {
    background-color: #bcf5f780;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 1rem;
}